// Base

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: 0;
}

// Form
input,
select,
textarea {
    box-shadow: none;
    outline: none;
}

// Sections
section {
    padding-bottom: 70px;
    padding-top: 70px;
}

// Spacer
.spacer {
    height: $navbar-height;
}

@include media-breakpoint-up(lg) {

    // Scrollbar custom
    ::-webkit-scrollbar {
        width: 12px;

        &-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3)
        }

        &-thumb {
            background: rgba(210, 210, 210, .8);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
            -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
        }
    }

    // Sections
    section {
        padding-bottom: 100px;
        padding-top: 100px;
    }
}