// Gallery

.gallery-grid {
    margin-left: -22px;

    a {
        cursor: url("../img/icon-zoom-in.png"), pointer;
    }

    figure {
        height: 100%;
        margin: 0;
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
            display: block;
            position: relative;
            top: 0;
            transition: all .3s ease;
            width: 100%;
        }

        &:hover {
            img {
                transform: scale(1.2, 1.2);
                -webkit-transform: scale(1.2, 1.2);
                -ms-transform: scale(1.2, 1.2);
            }
        }
    }

    .item {
        float: left;
        padding: 0 0 22px 22px;
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .gallery-grid {
        .item {
            width: 50%;
        }
    }
}

@include media-breakpoint-up(lg) {
    .gallery-grid {
        .item {
            width: 25%;
        }
    }
}

// Gallery lightbox
.vbox-container {
    cursor: url("../img/icon-zoom-out.png"), zoom-out;
}

.vbox-next,
.vbox-prev {
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
    margin-top: -30px;
    width: 60px;

    span {
        display: none;
    }
}

.vbox-next {
    background-image: url("../img/icon-arrow-next.png");
    right: 25px !important;
}

.vbox-prev {
    background-image: url("../img/icon-arrow-previous.png");
    left: 25px !important;
}

.vbox-num,
.vbox-close {
    color: $body-color;
    font-size: $h4-font-size;
    opacity: 1;
    padding: 16px 16px;
}

.vbox-grab {
    .vbox-child {
        img {
            cursor: url("../img/icon-arrow-grab.png"), grab;
        }
    }
}

@include media-breakpoint-up(lg) {
    .vbox-close {
        display: none;
    }
}